*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    font: normal 16px arial;
    max-width: 100%;
}

input, textarea, button{
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 12px;
    margin: 8px 0;
    color: white;
    border: 1px solid white;
}

input[type=checkbox]{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

button[type='submit']{
    cursor: pointer;
}

.absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.home-page{
    background: #2f3f54;
}

.login-box{
    width: 270px;
    height: 300px;
}

.login-box input{
    text-align: center;
}

.login-box label{
    color: #b5b5b5;
    display: block;
}

.login-box label input{
    float: right;
    position: relative;
    top: -2px;
}


.login-box button{
    background: #eaeaea;
    color: #2f3f54;
    font-weight: bold;
}

.login-box button:hover{
    background: #cecece;
}

.login-form{
    position: relative;
}

.load-box{
    display: none;
    background: rgba(47, 63, 84, 0.7);
}

.load-box .fa{
    width: 25px;
    height: 31px;
    font-size: 30px;
    line-height: 30px;
    color: white;
}

.load-box.active{
    display: block;
}

.worlds-list-box{
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1;
    width: 600px;
    height: 450px;
    background: white;
}

.worlds-list-box.active{
    display: block;

}

.worlds-list-box .worlds-list{

}

.worlds-list-box .world-row{
    display: block;
    width: 100%;
    padding: 20px 30px;
    cursor: pointer;
    clear: both;
}

.worlds-list-box .world-row:hover{
    background: rgba(54, 106, 175, 0.1);
}

.worlds-list-box .world-row+.world-row{
    border-top: 2px solid #2f3f54;
}

.world-row .worldName {
    font-size: 20px;
    color: #4d9aff;
    padding-bottom: 10px;

}

.world-row .inline {
    float: left;
    padding-right: 30px;
}

.world-box{
    display: none;
    z-index: 2;
    background: #2f3f54;
}

.world-box.active{
    display: block;
}

.world-box .left-box{
    width: 50px;
    right: auto;
    display: table;
}

.world-box .center-box{
    background: #4a5f79;
    left: 0;
    right: 400px;
    padding: 40px;
}

.world-box .right-box{
    background: #bacce4;
    width: 400px;
    left: auto;
    right: 0;
}

.world-box .right-box>*{
    padding: 20px 30px;
    border-bottom: 3px solid #4a5f79;
}


.world-box .world-menu{
    padding: 0;
    text-align: center;
}

.world-menu>div {
    display: inline-block;
    text-align: center;
    height: 45px;
    width: 45px;
    line-height: 45px;
    font-size: 24px;
    color: #8db4e6;
    cursor: pointer;
    transition: background .2s ease;
}

.world-menu>div:hover {
    background: #405f88;
}

.world-menu>div.disabled {
    color: #c35959;
    cursor: auto;
}

.world-menu>div.disabled:hover {
    background: none;
}

.world-box .right-box .resources-box {
    background: #5c7390;
    padding: 7px 30px;
    color: #bacce4;
}

.resources-box .fa {
    font-size: 18px;
}

.world-box  .resources-box .money {
    color: #81c381;
    text-align: left;
    padding-left: 0;
}

.resources-box .gold {
    color: #ceca4f;
    text-align: center;
}

.world-box .resources-box .prestige {
    color: #e29319;
    text-align: right;
    padding-right: 0;
}

.resources-box .value {
    font-weight: bold;
}


.center-body {
    padding: 50px;
}


.center-body .build-row {

}

.center-body .station-box .table-row>* {
    padding: 0 20px;
    font-size: 18px;
    color: white;
}

.station-box .tab-body {
    height: 280px;
}


.autocollect-box {

}

.autocollect-status-box .fa{
    color: #379c37;
    cursor: pointer;
    font-size: 26px;
    float: right;
}

.autocollect-status-box .fa-toggle-off{
    color: #d67272;
}

.build-droid-box>* {
    padding: 5px 10px;
    border: 1px solid #5c7390;
    height: 34px;
    line-height: 34px;
    float: left;
}

.build-droid-box .build-droid-add {
    width: 40px;
    text-align: center;
    background: #5c7390;
    color: #bacce4;
    cursor: pointer;
}

.build-droid-box .build-droid-add .fa{
    line-height: 22px;
}

.build-droid-list {
    height: 235px;
    float: left;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #8b9fba;
    overflow: auto;
}

.build-droid-list .build {
    display: block;
    width: 100%;
    padding: 5px 13px;
}

.build-droid-list .build:nth-child(event) {
    border-top: 1px solid #8b9fba;
}

.build-droid-list .build-delete{
    color: #bacce4;
    float: right;
    padding: 4px 6px;
    background: #cc6565;
    position: relative;
    top: -3px;
}





.table {
    display: table;
    width: 100%;
}

.table .table-row {
    display: table-row;
}

.table .table-row:nth-child(even) {
    background: #adbfd6;
}

.table .table-row>* {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
}

.title{
    padding: 0 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2f3f54;
    font-size: 18px;
    font-weight: bold;
}

.tabs{

}

.tabs .tab-titles-box {
    margin-bottom: 10px;
    border-bottom: 1px solid #2f3f54;
}

.tabs .tab-title{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 8px 15px;
    cursor: pointer;
    background: #5c7390;
    color: #bacce4;
    opacity: 0.5;
}

.tabs .tab-title.active{
    opacity: 1;
    cursor: auto;
}

.tabs .tab-body{
    display: none;
}

.tabs .tab-body{
    display: none;
}

.tabs .tab-body.active{
    display: block;
}

.clear {
    clear: both;
}